{% extends 'user/base.html' %}
{% block content %}
<!-- About 4 - Bootstrap Brain Component -->
<main id="main" class="main">
<section class="">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">About</h3>
          <h2 class="display-5 mb-4">INNOVATION, HARD WORK, PROFESSIONAL PLANNING AND TIMELY IMPLEMENTATION</h2>
          <p class="fw-bold"> -THIS IS WHAT MAKES TECHSTURE TECHNOLOGIES.</p>
          <a href="https://techsture.com/contact_us" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5">Connect Now</a>
          <!-- <button type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5">Connect Now</button> -->
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="https://www.techsture.com/Content/images/Quality_Policy.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                  <p class="card-text lead">TechSture shall strive to achieve optimum levels of information security by continue improving with the help of involving people, technology and appropriate environment/utilities in our course of operations to provide adequate confidence to our clients and interested parties regarding confidentiality, integrity and availability of information received, processed and transmitted by our company.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="https://www.techsture.com/Content/images/about_img1.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-6">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Visionary Team</h2>
                  <p class="card-text lead">
                    Founded in the year 2007 with a firm belief that growth is driven by innovation, Techsture has established electronics R&D lab facility and integrated software development center; for a combination of both these can only deliver not just most desirable solution needed to manage Indian traffic but also to help us stand competitive.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="copyright">
      <div class="row">
        <div class="col-8">
          © 2020 Techsture Technologies India Pvt. Ltd.. All Rights Reserved.
        </div>
        <div class="col-4">
          <font class="gray-text">Follow us :</font><a target="_blank" href="https://www.linkedin.com/company/techsture-technologies"> <i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
    <div class="credits">
      <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
    </div>
  </footer><!-- End Footer

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

{% endblock content %}
